@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

.border-bottom {
    border: 0.6px solid black;
}

/* .ant-layout .ant-layout-sider-children {
    background: linear-gradient(to bottom, #ef4136, #fbb040) !important;
} */

/* ant design menu option */
.ant-menu-item:hover {
    background: #00369a !important;
    color: #ffff !important;
    gap: '3px';
    border-left: 6px solid #00369a !important;
    border-radius: 0px 2px 2px 0px !important;
}

.ant-menu-item {
    font-size: 18px !important;
}
.ant-menu-item-selected {
    background: #00369a !important;
    color: #ffff !important;
    gap: '3px';
    border-left: 6px solid #00369a !important;
    border-radius: 0px 2px 2px 0px !important;
}

.ant-menu-item-active {
    background: #00369a !important;
    color: #00369a !important;
    border-left: 6px solid #fbb040 !important;
    border-radius: 0px 2px 2px 0px !important;
}

.ant-menu .ant-menu-item .ant-menu-item-icon + span {
    transition: none !important;
}

.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
    background: linear-gradient(to bottom, #ef4136, #fbb040) !important;
}

.ant-menu .ant-menu-title-content {
    transition: none !important;
}
